html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5em;
  text-align: center;
}

body {
  margin: 0;
}

.btn {
  text-decoration: none;
  border-radius: 8px;
  color: #fff;
  background-color: #333;
  padding: .4em;
  font-size: 1.125rem;
  display: inline-block;
  border: 3px solid #333;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.btn-subtle {
  background-color: #ccc;
  border-color: #ccc;
}

.btn-subtle:hover {
  background-color: #666;
  border-color: #666;
}

.btn-ghost {
  background-color: #fff;
  color: #000;
}

.btn-ghost:hover {
  background-color: #666;
  color: #fff;
}

.btn-warning {
  background-color: #f33;
  border-color: #f33;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-small {
  font-size: .875rem;
}

.btn-small:hover {
  border-color: #000;
}

.btn-small-subtle {
  background-color: #ccc;
  border-color: #ccc;
}

.btn-small-subtle:hover {
  background-color: #666;
  border-color: #666;
}

.btn-small-ghost {
  background-color: #fff;
  color: #000;
}

.btn-small-ghost:hover {
  background-color: #666;
  color: #fff;
}

.btn-small-warning {
  background-color: #f33;
  border-color: #f33;
}

.btn-small-warning:hover {
  background-color: #933;
  border-color: #933;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-big:hover {
  background-color: #000;
}

.btn-big-subtle {
  background-color: #ccc;
  border-color: #ccc;
}

.btn-big-subtle:hover {
  background-color: #666;
  border-color: #666;
}

.btn-big-ghost {
  background-color: #fff;
  color: #000;
}

.btn-big-ghost:hover {
  background-color: #666;
  color: #fff;
}

.btn-big-warning {
  background-color: #f33;
  border-color: #f33;
}

.btn-big-warning:hover {
  background-color: #933;
  border-color: #933;
}
